<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.mapper.DashBoardMapper">

<select id="bymenuchart" parameterType="map" resultType="com.bean.entity.OrderDetailDTO">
	SELECT
    TO_CHAR(TRUNC(M.ORDER_M_DATE), 'YYYY-MM-DD') AS orderDetailCode, 
    SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM 
    TB_MENU MENU
	INNER JOIN 
    TB_ORDER_D D ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN 
    TB_ORDER_M M ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE 
    M.MEM_ID = #{memId} 
    AND M.ORDER_M_DATE BETWEEN SYSDATE - 365 AND SYSDATE 
    AND MENU.MENU_NAME = #{menu}
	GROUP BY
    TRUNC(M.ORDER_M_DATE)
	ORDER BY 
    orderDetailCode
</select>

<select id="bydatechart" parameterType="map" resultType="com.bean.entity.OrderMasterDTO">
	SELECT 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD HH24') AS orderMasterDate, 
    SUM(M.ORDER_M_TOTAL) AS orderMasterTotal
	FROM
    TB_ORDER_M M
	WHERE 
    TRUNC(M.ORDER_M_DATE) = TO_DATE(#{date}, 'YYYY-MM-DD') AND M.MEM_ID = #{memId}
	GROUP BY 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD HH24')
	ORDER BY 
    orderMasterDate
</select>

<select id="menutotalchart" resultType="com.bean.entity.OrderDetailDTO">
	SELECT MENU.MENU_NAME AS menuName, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE M.MEM_ID = #{memId}
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>

<select id="menudaychart" resultType="com.bean.entity.OrderDetailDTO">
    SELECT MENU.MENU_NAME AS menuName, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE M.MEM_ID = #{memId} AND TRUNC(M.ORDER_M_DATE) = TRUNC(SYSDATE) 
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>

<select id="menuweekchart" resultType="com.bean.entity.OrderDetailDTO">
    SELECT MENU.MENU_NAME AS menuName, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE M.MEM_ID = #{memId} AND M.ORDER_M_DATE BETWEEN SYSDATE-7 AND SYSDATE 
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>

<select id="menumonthchart" resultType="com.bean.entity.OrderDetailDTO">
    SELECT MENU.MENU_NAME AS menuName, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE M.MEM_ID = #{memId} AND M.ORDER_M_DATE BETWEEN SYSDATE-30 AND SYSDATE 
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>


<select id="drinkchart" resultType="com.bean.entity.OrderDetailDTO">
	SELECT MENU.MENU_NAME AS orderDetailCode, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE MENU.MENU_TYPE = '음료' AND M.MEM_ID = #{memId}
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>

<select id="dessertchart" resultType="com.bean.entity.OrderDetailDTO">
	SELECT MENU.MENU_NAME AS orderDetailCode, SUM(D.ORDER_D_PRICE) AS orderDetailPrice
	FROM TB_MENU MENU
	INNER JOIN TB_ORDER_D D
	ON MENU.MENU_CODE = D.ORDER_D_CODE
	INNER JOIN TB_ORDER_M M
	ON D.ORDER_D_NUMBER = M.ORDER_M_NUMBER
	WHERE MENU.MENU_TYPE = '디저트' AND M.MEM_ID = #{memId}
	GROUP BY MENU.MENU_NAME
	ORDER BY MENU.MENU_NAME
</select>

<select id="daychart" resultType="com.bean.entity.OrderMasterDTO">
	SELECT 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD HH24') AS orderMasterDate, 
    SUM(M.ORDER_M_TOTAL) AS orderMasterTotal
	FROM 
    TB_ORDER_M M
	WHERE 
    TRUNC(M.ORDER_M_DATE) = TRUNC(SYSDATE) AND M.MEM_ID = #{memId}
	GROUP BY 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD HH24')
	ORDER BY 
    orderMasterDate
</select>

<select id="weekchart" resultType="com.bean.entity.OrderMasterDTO">
	SELECT 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD') AS orderMasterDate, 
    SUM(M.ORDER_M_TOTAL) AS orderMasterTotal
	FROM 
    TB_ORDER_M M
	WHERE 
    M.ORDER_M_DATE >= SYSDATE - 7 AND M.MEM_ID = #{memId}
	GROUP BY 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM-DD')
	ORDER BY 
    orderMasterDate
</select>

<select id="monthchart" resultType="com.bean.entity.OrderMasterDTO">
	SELECT 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM') AS orderMasterDate, 
    SUM(M.ORDER_M_TOTAL) AS orderMasterTotal
	FROM 
    TB_ORDER_M M
	WHERE 
    M.ORDER_M_DATE >= SYSDATE - 365 AND M.MEM_ID = #{memId}
	GROUP BY 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY-MM')
	ORDER BY 
    orderMasterDate
</select>

<select id="quaterchart" resultType="com.bean.entity.OrderMasterDTO">
	SELECT 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY') || '년 ' || 
    CEIL(TO_NUMBER(TO_CHAR(M.ORDER_M_DATE, 'MM')) / 3) || '분기' AS orderMasterDate,
    SUM(M.ORDER_M_TOTAL) AS orderMasterTotal
	FROM 
    TB_ORDER_M M
	WHERE 
    M.ORDER_M_DATE >= SYSDATE - 365 AND M.MEM_ID = #{memId}
	GROUP BY 
    TO_CHAR(M.ORDER_M_DATE, 'YYYY'), 
    CEIL(TO_NUMBER(TO_CHAR(M.ORDER_M_DATE, 'MM')) / 3)
	ORDER BY 
    orderMasterDate
</select>

</mapper>