<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.mapper.MaterialMapper">




<!-- 원자재 조회 쿼리문 -->
<select id="list" resultType="com.bean.entity.MaterialDTO">
	select Mr_Code as mrCode,
	Mr_Name as mrName,
	Mr_Inbound_Date as mrInboundDate,
	Mr_Expired_Date as mrExpiredDate,
	Mr_Stock as mrStock,
	Mr_Code_Unit as mrCodeUnit,
	Mem_Id as memId
	 from TB_MATERIAL
</select>

<!-- 원자재 등록 쿼리문 -->
<insert id="insert" parameterType="com.bean.entity.MaterialDTO">
    INSERT INTO TB_MATERIAL (
        Mr_Code,
        Mr_Name,
        Mr_Stock,
        MR_CODE_UNIT,
        Mem_Id
    )
    VALUES (
        #{mrCode},
        #{mrName},
        #{mrStock},
        #{mrCodeUnit},
        #{memId}
    )
</insert>

<!--재고 수정 쿼리문-->
	<update id="update" parameterType="com.bean.entity.MaterialDTO">
		update TB_MATERIAL
		set 
		Mr_Name = #{mrName},
		Mr_Stock = #{mrStock},
		MR_CODE_UNIT=#{mrCodeUnit}
		where Mr_Code = #{mrCode}
	</update>



</mapper>