<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.mapper.OrderMapper">

<!-- 주문 마스터 내역 넣기 -->
<insert id="orderlist" parameterType="com.bean.entity.OrderMasterDTO">
	INSERT INTO TB_ORDER_D
	VALUES(
		#{ORDER_M_NUMBER},
		#{ORDER_M_TOTAL},
		#{ORDER_M_TOTAL_AMT},
		#{ORDER_M_DATE},
		#{MEM_ID}
	)
</insert>


<!-- 원자재 조회 쿼리문 -->
<select id="list" resultType="com.bean.entity.OrderMasterDTO">
       SELECT 
       ORDER_M_NUMBER,
       ORDER_M_TOTAL,
       ORDER_M_TOTAL_AMT,
       ORDER_M_DATE
       MEM_ID
       FROM TB_ORDER_M
    </select>
</mapper>
