@charset "UTF-8";
    body { /* 인덱스때문에 줘야함 */
     margin-left: 225px !important;
     height: 100vh !important;
    }

    /* 전체 컨테이너 */
    .inner_container {
      display: grid;
      grid-template-rows: 1fr 1fr; /* 위 2개 영역과 아래 2개 영역 */
      grid-template-columns: 1fr 1fr; /* 각 행을 2개로 나눔 */
      gap: 10px; /* 구역 간 간격 */
      padding: 20px;
      height: 90vh;
      background-color: #f5f5f5; /* 배경색 */
    }
    
    /* 상단 두 구역 */
    .top_section {
      background-color: white;
      border-radius: 8px;
    }

    /* 하단 두 구역 */
    .bottom_section {
      background-color: white;
      color: white;
      border-radius: 8px;
    }